.rectangle-div {
  display: grid;
  grid-template-columns: 0.8fr 0.4fr;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  box-shadow: 2px 8px 20px -1px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background: #fdfdfd;
  border: 1px solid #e0e0e0;
  filter: blur(0.2px);
}

.temp-heading {
  font-weight: 400;
  color: #808080;
}

.temp {
  display: block;
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #414b5a;
}

.real-feel {
  font-size: 12px;
  font-weight: 300;
  color: #414b5a;
}
