.contentMain {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  background: #216ec0;
}

.florencio-dorrance {
  font-weight: 600;
  font-size: 1.5rem;
}

.online {
  text-align: right;
}

.user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  box-sizing: border-box;
}

.message-item {
  border-radius: 12px;
  background-color: #f1f1f1;
  width: fit-content;
  padding: 8px 16px;
}

.message-list {
  padding: 24px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.type-a-message {
  position: relative;
  width: 100%;
  line-height: 150%;
  opacity: 0.4;
}

.message-box {
  padding: 24px;
}
