.appMain {
  padding: 1.5rem;
  box-shadow: 2px 8px 20px -1px rgba(0, 0, 0, 0.15);
  background: #f0f0f0;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background-color: #0d6dbb;
  background-image: url("../src/assets/weather-app-bg.jpg");
}
