.search-box {
  display: flex;
  justify-content: center;
  position: relative;
}
.search-box input {
  border-radius: 0.5px;
  padding: 0.4rem;
  border: none;
}
.search-box input::placeholder {
  font-family: "Roboto";
  font-weight: 500;
  font-size: smaller;
  font-style: italic;
}
.search-box-icon {
  margin-right: 0.5rem;
  position: absolute;
  left: 0;
}
