.weather-detailsMain {
  margin-top: 2rem;
}
.parent {
  color: #414b5a;
}

.parent > *,
.uv-index-parent > * {
  margin-top: 0.5rem;
}
.group-parent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #808080;
}
